.full-page-height-vh.bg-color-cyan-700.row.middle-xs.center-xs.color-white
  .col-xs-8.col-md-4.col-lg-2
    %h1 te10go
    %p Te tengo lo que tienes
    .card.bg-color-white.padding
      = react_component("Registration")
