%nav.navbar.main
  .container-fluid.bg-color-blue-600
    .navbar-header
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Inicio",root_path
        -if user_signed_in?
          %li=link_to "Cerrar sesión", destroy_user_session_path, method: :delete
